body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.OP
{
	color: #e8491d;
}

.cont h1
{
	margin-top: 50px;
	margin-left: 100px;
}

.cont
{
	
	background-color: rgb(51,75,96);
	margin-top: -15px;
	color: #fff;
	display: flex;
}

ul
{
	display: flex;
	margin-left: 150%;
}

li
{
	display: flex;
	margin-right: 50px;
	margin-top: 50px;
}

a
{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.s2
{
	display: flex;
	height: 100px;
	background-color: rgb(51,75,96);
	color: #fff;
	font-size: 18px;
	border-top: 4px solid coral;
}

.s2 h3
{
	margin-left: 100px;
	margin-top: 40px;
}

.A2
{
	margin-left: 500px;
	margin-top: 40px;
}

.A2 input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

.A2 input[type="submit"]{
  padding:4px;
  height:40px;
  width: 100px;
  background-color: #e8491d;
}

.A3
{
	background-color: #333;
	padding: 12px;
	color: #fff;
}

.s3
{
	width: 50%;
	margin-left: 100px;
}

.s4
{
	background-color: #333;
	padding: 12px;
	color: #fff;
	width: 20%;
	margin-left: 50px;
	margin-top: 50px;
}

.s3,.s4
{
	display: inline-block;
	vertical-align: top;
}

footer
{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}